# local binary artifacts
bin/
bin/*

# protoc nats build output
protoc-nats/gen/nats/micro/options.pb.go
protoc-nats/tools/protoc-gen-nats-micro/nats/micro/options.pb.go
protoc-nats/tools/protoc-gen-nats-micro/protoc-gen-nats-micro
